---
export interface Props {
	recipe: object,
	url: string
}

const { recipe, url  } = Astro.props;
// https://docs.astro.build/en/core-concepts/astro-components/
// https://docs.astro.build/en/reference/directives-reference/

---

<article>
	<div class="row">
		<div class="col-md-6">
			<h1>{recipe.name}</h1>
			{recipe?.publisher?.name?.length ? <div><b>From:</b> <a href={url} target="_blank">{recipe.publisher.name}</a></div> : ''}
			{recipe?.recipeYield?.length ? <div><b>Servings:</b> {recipe.recipeYield}</div> : ''}
			{recipe?.totalTime?.length ? <div><b>Time:</b> {recipe.totalTimeFormatted}</div> : ''}
		</div>
		<div class="col-md-6">
			<img src={recipe.image} alt="" class="rounded img-fluid">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h2>Ingredients</h2>
			<ul>
				{recipe.recipeIngredient.map((ingredient) => (
					<li set:text={ingredient}></li>
				))}
			</ul>
		</div>
		<div class="col-md-6">
			<h2>Directions</h2>
			<ol>
				{recipe.recipeInstructions.map((step) => (
					<li set:text={step.text}></li>
				))}
			</ol>
		</div>
		<!-- <pre set:text={JSON.stringify(recipe, '', '\t')}></pre>		 -->
	</div>
</article>

<style>
	img {
		object-fit: cover;
		aspect-ratio: 16 / 9;
	}
</style>
