---
export interface Props {
	recipe: object,
	url: string
}

const { recipe, url  } = Astro.props;
// https://docs.astro.build/en/core-concepts/astro-components/
// https://docs.astro.build/en/reference/directives-reference/
---

<article>
	<h1>{recipe.name}</h1>
	{recipe?.publisher?.name?.length ? <p>from <a href={url} target="_blank">{recipe.publisher.name}</a></p> : ''}
	<img src={recipe.image} width="200" alt="">
	<p>{recipe.recipeYield}</p>
	<p>{recipe.totalTime}</p>
	<h2>Ingredients</h2>
	<ul>
		{recipe.recipeIngredient.map((ingredient) => (
			<li set:html={ingredient}></li>
		))}
	</ul>
	<h2>Directions</h2>
	<ol>
		{recipe.recipeInstructions.map((step) => (
			<li set:html={step.text}></li>
		))}
	</ol>
	<!-- <pre>{JSON.stringify(recipe)}</pre> -->
</article>

<style>
</style>
